html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.menu-toggle {
  cursor: pointer;
}

.navbarToggleOpen {
  width: 82%;
  transform: translateX(22%);
  transition: all 0.3s ease;
}

.navbarToggleOpen .menu-toggle img {
  display: none;
}

.navbarToggleClose {
  width: 100%;
  transform: translateX(0);
  transition: all 0.3s ease;
}
