.registerForm {
  width: 320px;
  height: 480px;
  color: black;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  overflow: hidden;
}

.userFormRegister {
  position: absolute;
  top: 35%;
  width: 100%;
}

.btnRegister {
  font-size: 18px;
  border-radius: 30px;
}

.logo {
  width: 100px;
  height: 100px;
  position: relative;
  justify-self: center;
}
